<div id="content_hero" style="background-image: url(images/hero-contact.jpg)">

    <div class="container">
        <div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0"
            data-translatey="100">
            <div class="col-md-9">

                <h1> Registro de Salas :)</h1>
            </div>
        </div>
    </div>
</div>

<!-- Main content -->
<div class="container section small-padding">
    <form id="register-form" class="login" method="POST" action="/sala/agregar_sala">
        <div class="field-wrap">

            <div>
                {{#if error2 }}
                    <div class="label label-danger" style="font-size: 18px" id="err">
                        {{error2}}
                    </div>
                {{/if}}
            </div><br><br>

            <div>
                <label for="nombres">Ingrese el nombre sala</label>
                <input type="text" placeholder="Nombres" name="nsala" id="nsala" class="login__input" />
            </div><br>
            <div>
                <label for="">Ingrese el numero de asientos</label>
                <input type="text" placeholder="Apellidos" name="asientos" id="asientos" class="login__input" />
            </div><br>

             <div>
                    <label for="">Disponible</label>
                    <select name="disponible" id="disponible">
                        <option value="">-------Eliga una opcion--------</option>

                        <option value="1">SI</option>
                        <option value="0">NO
                        </option>
                    </select>
                </div>
            
        </div>

        <div class="form" style="text-align: right">
            <br>
            <a type='' id="reg" href="/" class="btn btn-danger" value="">Cancelar</a>
            <button type='submit' id="reg" class="btn btn-success" value="submit">Registrarse</button>
        </div>
    </form>

</div>
