<script src="/js/Utiles.js"></script>
<script src="/js/tagsinput.js"></script>

<script type="text/javascript">

    //funcion que nos permite calcular la edad a partir de la fecha de nacimiento
    $(document).ready(function () {
        $("#genero").tagsinput();
        $("#director").tagsinput();
        $("#protagonistas").tagsinput();
    });

    function validarArchivo() {
        if ($('#imagen').get(0).files.length === 0) {
            return false;
        } else {
            return true;
        }
    }

    $(function () {
        $.validator.addMethod("validarFoto", function (value, element) {
            return this.optional(element) || validarArchivo();
        }, "Eliga una foto para la pelicula");

        $.validator.addMethod("soloLetras", function (value, element) {
            return this.optional(element) || /^[a-zA-Z\s]+$/i.test(value);
        }, "Solo letras");

        $.validator.addMethod("validarLink", function (value, element) {
            return this.optional(element) || /^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$/i.test(value);
        }, "Link invalido");

        $("#register-form").validate({
            ignore: "",
            rules: {

                nombre_peli: {
                    required: true,
                    soloLetras: true
                },
                genero: {
                    required: true,
                    //checkTags: true
                },
                director: {
                    required: true
                },

                clasificacion: {
                    required: true
                },
                duracion: {
                    required: true
                },
                sinopsis: {
                    required: true
                },
                fecha: {
                    required: true
                },
                trailer: {
                    required: true,
                    validarLink: true
                }

            }, messages: {
                imagen: {
                    required: 'La foto es requerida'
                }
            }
        });
    })
</script>


<div class="modal-content">
    <div id="content_hero" style="background-image: url(/images/hero-contact.jpg)">
        <div class="container">
            <div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0"
                data-translatey="100">
                <div class="col-md-9">

                    <h1>Registro de peliculas</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <div class="container section small-padding">
        <form id="register-form" class="login" method="POST" action="/guardar_peli">

            <div>
                {{#if error2 }}
                    <div class="label label-danger" style="font-size: 18px" id="err">
                        {{error2}}
                    </div>
                {{/if}}
            </div><br><br>

            <div class="field-wrap">
                <input type="hidden" value="0" id="external" name="external" />
                <div>
                    <label for="nombre">Nombre de la pelicula</label>
                    <input type="text" placeholder="Nombre de la pelicula" name="nombre_peli" id="nombre_peli"
                        class="login__input" />
                </div><br>
                <div>
                    <label for="">Genero/s</label>
                    <input type="text" data-role="tagsinput" placeholder="Genero/s de la pelicula" id="genero"
                        name="genero">
                </div><br>
                <div>
                    <label for="">Director/es</label>
                    <input type="text" placeholder="Nombre del Director" name="director" id="director"
                        data-role="tagsinput" value="" />
                </div><br>
                <div>
                    <label for="">Fecha de lanzamiento</label>
                    <input type="date" placeholder="" name="fecha" id="fecha" value="" />
                </div><br>
                <div>
                    <label for="">Protagonista/s</label>
                    <input type="text" placeholder="Protagonistas de la pelicula" name="protagonistas"
                        id="protagonistas" data-role="tagsinput" />
                </div><br>
                <div>
                    <label for="">Clasificacion</label>
                    <select name="clasificacion" id="clasificacion">
                        <option value="">-------Eliga una opcion--------</option>
                        <option value="AA">“AA” - Aptas para todo público que tengan atractivo infantil y sean
                            comprensibles para niños menores de siete años
                            de edad </option>
                        <option value="A">"A" - Aptas para todo publico</option>
                        <option value="B">"B" - Películas para adolescentes de 12 años en adelante.</option>
                        <option value="B15">"B15" - Película no recomendable para menores de 15 años de edad.</option>
                        <option value="C">"C" - Películas para adultos de 18 años en adelante.</option>
                        <option value="D">"D" - Películas para adultos, con sexo explícito, lenguaje procaz o alto grado
                            de violencia.
                        </option>
                    </select>
                </div><br>
                <div>
                    <label for="">Estreno</label>
                    <select name="proyeccion" id="proyeccion">
                        <option value="">-------Eliga una opcion--------</option>

                        <option value="1">SI</option>
                        <option value="0">NO
                        </option>
                    </select>
                </div><br>
                <div>
                    <label for="">Duracion (en minutos)</label>
                    <input type="number" placeholder="Duracion de la pelucula" name="duracion" id="duracion"
                        class="login__input" />
                </div><br>
                <div>
                    <label for="">Descripcion</label>
                    <textarea placeholder="Descripcion de le pelicula" rows="5" name="sinopsis" id="sinopsis"
                        class="login__input"></textarea>
                </div><br>


                <!--<div>
                <label for="">Trailer</label>
                <input type="text" placeholder="Ingrese el link del trailer" name="trailer" id="trailer"
                    class="login__input" />
            </div><br>-->
            </div>

            <div class="form" style="text-align: right">
                <br>
                <a href="/peliculas" class="btn btn-danger">Cancelar</a>
                <button type='submit' id="reg" class="btn btn-success" value="submit">Registrar pelicula</button>
            </div><br>
        </form>

    </div>
</div>