<div class="modal-content">
    <div id="content_hero" style="background-image: url(/images/hero-contact.jpg)">
        <div class="container">
            <div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0"
                data-translatey="100" style="text-align: right !important; margin-top: 110px !important; margin-bottom: 50px !important">
                <div class="col-md-9">

                    <h1>Ha ocurrido un error :(</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container section small-padding">
        <h1>{{message}}</h1>
        <h2>{{error1.status}}</h2>
        <pre>{{error1.stack}}</pre>
    </div>
</div>