<script type="text/javascript" src="js/Utiles.js"></script>
<script>

    function diaSemana() {
        var x = document.getElementById("fecha");
        let date = new Date(x.value.replace(/-+/g, '/'));
        var dia = date.getDay();
        let options = {
            weekday: 'long',
            year: 'numeric',
            month: 'long',
            day: 'numeric'
        };
        var dias = new Array('domingo', 'lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado')
        console.log(date.toLocaleDateString('es-MX', options));
        console.log(dias[dia])


        var dayss = [['domingo', 'lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado'],
        ['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo'],
        ['martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo', 'lunes'],
        ['miercoles', 'jueves', 'viernes', 'sabado', 'domingo', 'lunes', 'martes'],
        ['jueves', 'viernes', 'sabado', 'domingo', 'lunes', 'martes', 'miercoles'],
        ['viernes', 'sabado', 'domingo', 'lunes', 'martes', 'miercoles', 'jueves'],
        ['sabado', 'domingo', 'lunes', 'martes', 'miercoles', 'jueves', 'viernes']];
    
    var fecha = $('#fecha').val()
    var day_of_week = new Date(fecha).getDay();
    var list =  ['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo'];
   var sorted_list = list.slice(day_of_week).concat(list.slice(0, day_of_week));
   console.log(sorted_list);
    }
</script>

<div id="content_hero" style="background-image: url(images/hero-contact.jpg)">
    <div class="container">
        <div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0"
            data-translatey="100">
            <div class="col-md-9">

                <h1>Formulario de registro :)</h1>
            </div>
        </div>
    </div>
</div>

<!-- Main content -->
<div class="container section small-padding">
    <form id="register-form" class="login" method="POST" action="guardar_persona">
        <div class="field-wrap">

            <div>
                {{#if error2 }}
                    <div class="label label-danger" style="font-size: 18px" id="err">
                        {{error2}}
                    </div>
                {{/if}}
            </div><br><br>
            <div>
                <label for="">Ingrese su fecha de nacimiento</label>
                <input type="date" name="fecha" id="fecha" required onchange="diaSemana();">
            </div><br>
    </form>


    
<body>
    <div id='calenda'></div>
    <!-- Modal -->
    <div class="modal fade" id="addHora" tabindex="-1" role="dialog" aria-labelledby="addHoraLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="addHoraLabel">Ver info</h4>
                </div>
                <div class="modal-body">

                    <!-- .................................form.............................. -->
                    <form id="f_loginn" method="POST" action="#">
                        <div id="titulo"></div>
                        <div id="descripcionE"></div>

                        <!--
                                <div class="form-group">
                                    <label>Direccion de Email</label>
                                    <input type="email" class="form-control" id="emailFormm" name="correo"
                                        placeholder="Ingrese su direccion de correo">
                                    <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo
                                        electr칩nico con nadie
                                        m치s.</small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Contrase침a</label>
                                    <input type="password" class="form-control" id="claveFormm" name="clave"
                                        placeholder="Contrase침a">
                                </div>
                                -->
                        <div style="text-align: center">
                            <button type="submit" class="btn btn-success" value="submit">Registrar</button>
                            <button type="reset" class="btn btn-warning" data-dismiss="modal"
                                aria-label="Close">Cancelar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</div>