<div id="content_hero" style="background-image: url(images/hero-contact.jpg)">

    <div class="container">
        <div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0"
            data-translatey="100">
            <div class="col-md-9">

            </div>
        </div>
    </div>
</div>

<div class="container section news">
    <div class="row">
        <div class="col-sm-12">
            <h2>Informacion de mi perfil</h2>
            <div class="row">
                <div class="col-sm-5">
                    <div class="tabs">
                        <div>
                            <div class="field-wrap">
                                <label for="nombres">Nombres</label>
                                <input type="text" placeholder="Nombres" name="nombres" id="nombres"
                                    class="login__input" />
                            </div><br>
                            <div>
                                <label for="">Apellidos</label>
                                <input type="text" placeholder="Apellidos" name="apellidos" id="apellidos"
                                    class="login__input" />
                            </div><br>
                            <div>
                                <label for="">Cedula de identidad</label>
                                <input type="text" placeholder="CI" name="cedula" id="cedula" class="login__input" />
                            </div><br>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5 col-sm-push-2">
                    <div class="tabs ">
                        <div>
                            <div>
                                <label for="">Fecha de nacimiento</label>
                                <input type="date" placeholder="Fecha de nacimiento" name="fechaNacimiento"
                                    id="fechaNacimiento" class="login__input" />
                            </div><br>
                            <div>
                                <label for="">Edad</label>
                                <input type="text" placeholder="Edad" name="edad" id="edad" class="login__input"
                                    readonly />
                            </div><br>
                            <div>
                                <label for="">Correo electronico</label>
                                <input type="email" placeholder="Email" name="email" id="email" />
                            </div><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form" style="text-align: right">
                <a type='button' href="/editar_perfil" id="reg" class="btn btn-success" >Editar mi perfil</a>
            </div>
        </div>
    </div>
</div>
</div>